<app-header-page></app-header-page>

<section class="container" @fadeIn>
  <div class="card">
    <div class="header-card">
      <img
        [src]="imagemDePerfil"
        alt="Ícone para representar o perfil de um usuário."
      />
    </div>
    <div class="main-card">
      <form class="form" [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              minlength="3"
              maxlength="100"
              placeholder="Digite o seu email"
              formControlName="email"
            />
          </div>
          <div
            class="error-message"
            *ngIf="
              perfilForm.get('email')!.invalid &&
              (perfilForm.get('email')!.dirty ||
                perfilForm.get('email')!.touched)
            "
          >
            <span *ngIf="perfilForm.get('email')!.errors?.['required']">
              O campo email é obrigatório.
            </span>
            <span *ngIf="perfilForm.get('email')!.errors?.['email']">
              O formato do email é inválido.
            </span>
          </div>
        </div>

        <div class="input-group">
          <div>
            <label for="password">Senha</label>
            <input
              [type]="typeInput"
              id="password"
              minlength="8"
              maxlength="50"
              placeholder="Digite a sua senha"
              formControlName="password"
            />
            <img
              [src]="eye"
              (click)="showPassword()"
              alt="Icon de olho aberto ou fechado, para mostrar senha ou ocultar"
            />
          </div>
          <div
            class="error-message"
            *ngIf="
              perfilForm.get('password')!.invalid &&
              (perfilForm.get('password')!.dirty ||
                perfilForm.get('password')!.touched)
            "
          >
            <span *ngIf="perfilForm.get('password')!.errors?.['required']">
              O campo senha é obrigatório.
            </span>
            <span *ngIf="perfilForm.get('password')!.errors?.['minlength']">
              A senha deve ter pelo menos 8 caracteres.
            </span>
            <span *ngIf="perfilForm.get('password')!.errors?.['maxlength']">
              A senha não pode ter mais de 50 caracteres.
            </span>
          </div>
        </div>

        <div class="input-group">
          <div>
            <label for="confirm-password">confirmar senha</label>
            <input
              [type]="typeInputConfirm"
              id="confirm-password"
              minlength="8"
              maxlength="50"
              placeholder="confirme a sua senha"
              formControlName="confirmPassword"
            />
            <img
              [src]="eyeConfirm"
              (click)="showConfirmPassword()"
              alt="Icon de olho aberto ou fechado, para mostrar o texto do input confirmar senha ou ocultar"
            />
          </div>
          <div
            class="error-message"
            *ngIf="
              this.mismatch &&
              (perfilForm.get('confirmPassword')!.dirty ||
                perfilForm.get('confirmPassword')!.touched)
            "
          >
            <span> As senhas não coincidem. </span>
          </div>
        </div>

        <div class="button-group">
          <button type="submit" [disabled]="perfilForm.invalid">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
