<app-header-page></app-header-page>

<main class="container" @fadeIn>
  @if (receitas.length) {
  <div class="container-card">
    <div *ngFor="let receita of receitas">
      <app-cards-receitas
        [receita]="receita"
        (click)="showInput(receita)"
      ></app-cards-receitas>
    </div>
  </div>
  <div class="pagination">
    <button (click)="nextPage()" *ngIf="!loadingrecipes">
      @if(receitas.length < 49){
      <span>Ver mais</span>
      }@else{
      <span>Atualizar lista</span>
      }
    </button>
    <button (click)="nextPage()" *ngIf="loadingrecipes">
      <mat-spinner class="spinner"></mat-spinner>
      <span>Carregando...</span>
    </button>
  </div>
  } @else { @if(this.loadingrecipes){

  <div class="container-skeleton-loader">
    <div class="skeleton-card" *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <div class="skeleton-image"></div>
      <div class="skeleton-title"></div>
    </div>
  </div>

  }@else {

  <span>Nenhuma receita encontrada</span>

  } }

  <app-modal-receitas
    [recipeData]="selectedRecipe"
    [showModal]="isModalOpen"
    (closeModalEvent)="handleModalClose($event)"
  ></app-modal-receitas>

  <app-fab-button></app-fab-button>
</main>

<app-footer></app-footer>
