.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 160px);
  padding: 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;

  .ola-mundo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .description {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    max-width: 800px;
  }

  h2 {
    font-size: 1.8em;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 120px !important;
  }
}
