<app-header-page></app-header-page>

<section class="container" @fadeIn>
  <span class="ola-mundo">Hello World!!!</span>
  <div class="description">
    <p>
      A cultura de digitar "Hello World!" no início de cada projeto é uma
      tradição que remonta aos primeiros dias da programação. Ela simboliza o
      início de um novo código, onde a simplicidade é a chave para começar.
    </p>
  </div>
  
  <h2>Minhas Preferências</h2>
  
  <app-category-grafic></app-category-grafic> <!-- Aqui está o gráfico de preferências -->
  
</section>

<app-footer></app-footer>